{% extends '@AcMarcheStock/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Gestion des stocks</h3>
        <div class="card-body">
            <br/>
            <br/>
            <div class="alert alert-info">
                Gérez les stocks via l'application pour smartphone ou tablette android
            </div>
            <br/>
            <a href="https://play.google.com/store/apps/details?id=be.marche.apptravaux" target="_blank">
                <img src="{{ asset('bundles/travaux/images/android.png') }}" alt="android" width="250px;">
            </a>
        </div>
    </div>

{% endblock %}
