{% extends '@AcMarcheStock/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Gestion des stocks</h3>
        <div class="card-body">
            <br/>
            <br/>
        </div>
    </div>

{% endblock %}
