{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">{{ utilisateur }}</h3>
        <div class="card-body">
            {{ form(edit_form) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('actravaux_utilisateur_show',{'id':utilisateur.id}) }}">
                <span class="ti ti-list"></span> Annuler
            </a>
        </div>
    </div>
{% endblock %}


