{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Nouvel utilisateur</h3>
        <div class="card-body">
            {{ form(form) }}
            <a href="{{ path('actravaux_utilisateur') }}">
                <span class="ti ti-list"></span> Annuler et retour à la liste
            </a>
        </div>
    </div>
{% endblock %}

