{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block title %}{{ user }}{% endblock %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">Changer le mot de passe</h3>
        <div class="card-body">
            {{ form(form) }}
            <a href="{{ path('actravaux_utilisateur') }}">
                <span class="fas fa-list"></span> Annuler et retour à la liste
            </a>
        </div>
    </div>
{% endblock %}
