<div id='openmap' style='width: 90%; height: 600px;' class="border border-primary mt-3">
</div>
<div {{ stimulus_controller('map', { 'avaloir': avaloir.rue, 'latitude': avaloir.latitude, 'longitude': avaloir.longitude, 'drop': true}) }} >

</div>
