<a href="{{ path('category_planning') }}" class="btn btn-primary" role="button"><i
            class="ti ti-arrow-left"></i> Retour à la liste</a>

<a href="{{ path('category_planning_edit', { 'id': category.id }) }}" class="btn btn-primary"
   role="button"><i class="ti ti-pencil"></i> Editer</a>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    <i class="ti ti-trash"></i> Supprimer la catégorie
</button>

<br/>
<br/>