{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">Nouvelle catégorie pour le planning</h3>
        <div class="card-body">
          {% include '@AcMarcheTravaux/category_planning/_form.html.twig' %}
        </div>
    </div>
{% endblock %}
