<!-- TODO https://getbootstrap.com/docs/5.1/examples/dropdowns/ -->
<div class="mb-3" id="dropdownCalendar">
    <div class="d-grid gap-1">
        <div class="cal">
            <div class="cal-month shadow-md p-3 mb-2 bg-body-tertiary rounded bg-primary-subtle text-white"
                 style="background-color: antiquewhite">
                {% include '@Travaux/planning/_calendar_navigate.html.twig' %}
            </div>
            <div class="cal-weekdays text-muted">
                <!-- days name -->
                {% for weekday in weekdays %}
                    <div class="cal-weekday">{{ weekday|trans[:3]|trans }}</div>
                {% endfor %}
            </div>
            <div class="cal-days">
                {% set class = "border border-success" %}
                {% for week in weeks %}
                    {% for day in week %}
                        {% include '@Travaux/planning/_cell.html.twig' %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
