<li class="list-group-item">
    <strong>{{ day|date('j') }}</strong>
    <br/>
    {% set plans = data[day|date('j')] %}

    {% for plan in plans %}
        <a href="{{ path('planning_show', {'id': 'x'}) }}">
            {{ plan.intitule }}
        </a>
        <br/>
    {% endfor %}

</li>