<li class="list-group-item">
    <strong>{{ day|date('j') }}</strong>
    <br/>
    {% set plans = data[day|date('j')] %}

    {% for plan in plans %}
        <a href="{{ path('planning_show', {'id': 'x'}) }}">
            {{ plan.category }}
        </a>
        <br/>
    {% endfor %}
    <a href="{{ path('planning_new', {'date': day|date('Y-m-d')}) }}"><i class="fa fa-plus-square"></i> </a>
</li>