{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">{{ intervention.intitule }}</strong></h3>
        <div class="card-body">

            {% include '@AcMarcheTravaux/planning/_actions.html.twig' %}

            <table class="table table-bordered">
                <tr>
                    <th>Ouvrier(s)</th>
                    <td>
                        {% for employe in intervention.employes %}
                            {{ employe }},
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Date(s)</th>
                    <td>
                        {% for date in intervention.dates %}
                            {{ date }} |
                        {% endfor %}
                    </td>
                </tr>
            </table>

        </div>
    </div>

    {% include '@AcMarcheTravaux/planning/_delete.html.twig' %}
{% endblock %}

