{% if is_granted('ROLE_TRAVAUX_AVALOIR') %}

    <a href="{{ path('avaloir_show',{'id':avaloir.id}) }}" class="btn btn-primary" role="button"><i
                class="fas fa-arrow-left"></i>
        Retour à l'avaloir</a>

    <a href="{{ path('commentaire_edit', { 'id': entity.id }) }}" class="btn btn-primary" role="button"><i
                class="far fa-edit"></i>
        Editer</a>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        <i class="fas fa-trash"></i> Supprimer
    </button>
    <br/>
{% endif %}
