{% extends '@AcMarcheAvaloir/layout_avaloir.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">Nouveau commentaire</h3>
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
