<h4 class="text-success my-2">Légende</h4>
<ul class="list-group my-3">
    <li class="list-group-item list-group-item-danger">Priorité haute et non clôturée</li>
    <li class="list-group-item list-group-item-info">Doit être validée par un admin/auteur</li>
</ul>
