{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <h3 class="card-header">Full</h3>
        <div class="card-body">
            {% include '@AcMarcheTravaux/intervention/actions.html.twig' with {'intervention': intervention } %}

            {% if workflow_can(intervention, 'auteur_accept') %}
                <p class="text-warning">Cette intervention doit être validée par un auteur</p>
                {% if is_granted('ROLE_TRAVAUX_AUTEUR') %}
                    <p>
                        <a href="{{ path('validation_show', {'id': intervention.id}) }}" class="btn btn-warning btn-xs">
                            Traiter cette demande
                        </a>
                    </p>
                {% endif %}
            {% endif %}

            {% if workflow_can(intervention, 'publish') %}
                <p class="text-warning">Cette intervention doit être validée par un administrateur</p>
                {% if is_granted('ROLE_TRAVAUX_ADMIN') %}
                    <p>
                        <a href="{{ path('validation_show', {'id': intervention.id}) }}" class="btn btn-warning btn-xs">
                            Traiter cette demande
                        </a>
                    </p>
                {% endif %}
            {% endif %}

            {% include '@AcMarcheTravaux/intervention/panel.html.twig' %}

            {% include '@AcMarcheTravaux/intervention/documents.html.twig' %}

            {% include '@AcMarcheTravaux/intervention/suivis.html.twig' with {'form': delete_form_suivis } %}

            {% include '@AcMarcheTravaux/intervention/modal_archiver.html.twig' %}
        </div>
    </div>

    {% include '@AcMarcheTravaux/intervention/delete.html.twig' %}
{% endblock %}
