{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">Détail de la catégorie <strong>{{ entity.intitule }}</strong></h3>
        <div class="card-body">

            {% include '@AcMarcheTravaux/categorie/actions.html.twig' %}

            {% include '@AcMarcheTravaux/default/intervention.html.twig' with {'intervention': entity.intervention } %}
        </div>
    </div>

    {% include '@AcMarcheTravaux/categorie/delete.html.twig' %}
{% endblock %}
