{% extends '@AcMarcheAvaloir/layout_avaloir.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">Edition de {{ entity.nom }}</h3>
        <div class="card-body">
            {{ form(edit_form) }}
        </div>
    </div>
{% endblock %}

