<a href="{{ path('stock_quantite_update', { 'id': produit.id }) }}" role="button"
   class="btn btn-success"><i class="tit ti-refresh"></i> Mettre à jour les quantités</a>

<a href="{{ path('stock_produit_edit', { 'id': produit.id }) }}" role="button"
   class="btn btn-primary"><i class="ti ti-pencil"></i> Modifier</a>

<a href="{{ path('stock_produit_index') }}" class="btn btn-primary" role='button'><i class="ti ti-list"></i>
    Retour à la liste
</a>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    <i class="ti ti-trash"></i> Supprimer
</button>
<br/>
<br/>