{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">Edition</h3>
        <div class="card-body">
            {{ form(edit_form) }}
        </div>
    </div>
{% endblock %}

