{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <div class="card-header">
            <h4>Nouveaux documents pour l'intervention <strong>{{ intervention }}</strong></h4>
            <a href="{{ path('intervention_show', { 'id': intervention.id }) }}" class="btn btn-primary" role="button">
                <i class="fas fa-list"></i> Retour à l'intervention
            </a>
        </div>
        <div class="card-body">
            <div class="alert alert-info">
                Pour sélectionner plusieurs documents, maintenez la touche CTRL et clics de souris
            </div>
            {{ form(form) }}
        </div>
    </div>
    <br/>
{% endblock %}
