{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">Détail du document</h3>
        <div class="card-body">

            {% include '@AcMarcheTravaux/document/actions.html.twig' %}

            {% if 'image' in entity.mime %}
                <img src="{{ entity | apptravaux_download | imagine_filter('actravaux_zoom') }}"
                     alt="img"/>
                <br/><br/>
                {% else %}
                 <object data=""
                    width="100%" height="650px" type="{{ entity.mime }}">
                Votre navigateur ne sait pas afficher le document.
<br>
                         <i class="ti ti-download"></i>
                         <a href="{{ absolute_url(entity | apptravaux_download ) }}">Télécharger</a>
                </a>
            </object>
            {% endif %}
   <i class="ti ti-download"></i>
                         <a href="{{ absolute_url(entity | apptravaux_download ) }}">Télécharger</a>
                </a>
        </div>
    </div>

    {% include '@AcMarcheTravaux/document/delete.html.twig' %}
{% endblock %}
