{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">Détail du document</h3>
        <div class="card-body">

            {% include '@AcMarcheTravaux/document/actions.html.twig' %}
            <br/><br/>

            {% if 'image' in document.mime %}
                <img src="{{ document | apptravaux_download | imagine_filter('actravaux_zoom') }}"
                     alt="img"/>
                <br/><br/>
            {% else %}
                <object data=""
                        width="100%" height="650px" type="{{ document.mime }}">
                    Votre navigateur ne sait pas afficher le document.
                    <br>
                    <i class="ti ti-download"></i>
                    <a href="{{ absolute_url(document | apptravaux_download ) }}">Télécharger</a>
                </object>
            {% endif %}
        </div>
    </div>

    {% include '@AcMarcheTravaux/document/delete.html.twig' %}
{% endblock %}
