<a href="{{ path('employe_show',{'id':employe.id}) }}" class="btn btn-primary" role="button"><i
            class="ti ti-arrow-left"></i> Retour à l'employé</a>

<a href="{{ path('absence_edit', { 'id': absence.id }) }}" class="btn btn-primary"
   role="button"><i class="ti ti-pencil"></i> Editer</a>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    <i class="ti ti-trash"></i> Supprimer l'absence
</button>

<br/>
<br/>