{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">Absence de {{ employe }} ({{ absence.raison }})</h3>
        <div class="card-body">
            {% include '@AcMarcheTravaux/absence/_actions.html.twig' %}

            Du {{ absence.date_begin|format_date('full') }} au {{ absence.date_end|format_date('full') }}
        </div>
    </div>
    {% include '@AcMarcheTravaux/absence/_delete.html.twig' %}
{% endblock %}

