<a href="{{ path('horaire') }}" class="btn btn-primary" role="button"><i
            class="fas fa-arrow-left"></i> Retour à la liste</a>

<a href="{{ path('horaire_edit', { 'id': horaire.id }) }}" class="btn btn-primary"
   role="button"><i class="far fa-edit"></i> Editer</a>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    <i class="fas fa-trash"></i> Supprimer l'horaire
</button>

<br/>
<br/>