{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.nom) }}
<button type="submit" name="save" class="btn btn-primary mb-3" role="button">
    <i class="fas fa-save"></i> Sauvegarder
</button>
{{ form_end(form) }}