{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header"> {{ horaire }}</h3>
        <div class="card-body">
            {% include '@AcMarcheTravaux/horaire/_form.html.twig' %}
        </div>
        <div class="card-footer">
            <a href="{{ path('horaire') }}">Retour</a>
        </div>
    </div>
{% endblock %}

