{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">Liste des horaires</h3>
        <div class="card-body">
            <a href="{{ path('horaire_new') }}" class="btn btn-primary mb-3" role="button"><i
                        class="ti ti-plus"></i> Ajouter</a>

            <ul class="list-group">
                {% for horaire in horaires %}
                    <li class="list-group-item d-flex justify-content-between">
                        <a href="{{ path('horaire_show', {'id': horaire.id}) }}">{{ horaire }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}

