{% if is_granted('ROLE_TRAVAUX_ADMIN') %}

    <a href="{{ path('service') }}" class="btn btn-primary" role="button"><i
                class="ti ti-arrow-left"></i> Retour à la liste</a>

    <a href="{{ path('service_edit', { 'id': entity.id }) }}" class="btn btn-primary"
       role="button"><i class="ti ti-pencil"></i> Editer</a>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        <i class="ti ti-trash"></i> Supprimer
    </button>

    <br/>
{% endif %}
