{% extends '@AcMarcheTravaux/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <h3 class="card-header">Nouveau service</h3>
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
