{% extends '@AcMarcheAvaloir/layout_avaloir.html.twig' %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">Nouvelle date de nettoyage pour l'avaloir <strong>{{ entity.avaloir }}</strong></h3>
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}