{% extends '@AcMarcheTravaux/base.html.twig' %}

{% block title %}Interventions{% endblock %}

{% block notifications %}
    {% if app.user is not null and (is_granted("ROLE_TRAVAUX_VALIDATION") or (is_granted("ROLE_TRAVAUX_REDACTEUR"))) %}
        <div class="d-print-none">
            {{ render(controller('AcMarche\\Travaux\\Controller\\NotificationController::index')) }}
        </div>
    {% endif %}
{% endblock %}
